<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base/common :: meta"/>
    <title>网址导航 | 麦司机</title>
    <meta name="keywords" content="网址导航，网址，导航，麦司机">
    <meta name="description" content="网址导航 麦司机">
    <th:block th:replace="base/common :: link"/>
    <th:block th:replace="base/common :: css"/>
    <th:block th:replace="css/site :: site"/>
    <th:block th:replace="base/common :: analysis"/>
</head>
<body>
<div style="display:flex;flex-direction: column;height: 100%">
    <th:block th:replace="base/common :: toolbar"/>
    <div style="flex: 1;margin: 5px">
        <div class="content">
            <div class="shadow site-content" th:each="map : ${siteMap}">
                <p class="p" th:text="${map.key}"></p>
                <hr class="hr">
                <a class="shadow pan-btn green-btn ellipsis a" th:each="site : ${map.value}" th:text="${site.name}"
                   th:href="${site.url}" target="_blank"></a>
            </div>
        </div>
    </div>
    <th:block th:replace="base/common :: footer"/>
</div>
<th:block th:replace="base/common :: js"/>
</body>
</html>