<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base/common :: meta"/>
    <title th:inline="text">[[${article.title}]] | 麦司机</title>
    <meta name="keywords" th:content="${article.keywords}">
    <meta name="description" th:content="${article.description}">
    <th:block th:replace="base/common :: link"/>
    <th:block th:replace="base/common :: css"/>
    <th:block th:replace="css/article :: article"/>
    <th:block th:replace="base/common :: analysis"/>
</head>
<body>
<div style="display:flex;flex-direction: column;height: 100%">
    <th:block th:replace="base/common :: toolbar"/>
    <div style="flex: 1;margin: 5px">
        <div class="shadow content article-content">
            <h1 class="article-title" th:text="${article.title}"></h1>
            <hr>
            <p>
                <span th:if="${article.original}" class="article-tag" th:text="原创"></span>
                <span th:text="${article.author}"></span>
                <span class="article-dot">·</span>
                <span th:text="${article.secondaryCategory.name}"></span>
                <span class="article-dot">·</span>
                <span th:text="${#temporals.format(article.createTime,'yyy-MM-dd')}"></span>
            </p>

            <div style="margin-top: 15px" th:utext="${article.content}"></div>
        </div>
    </div>
    <th:block th:replace="base/common :: footer"/>
    <div class="shadow go-top" title="回到顶部">
        <svg width="16" height="16" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"
             class="Icon Icon--backToTopArrow" aria-hidden="true" style="height: 16px; width: 16px;">
            <g>
                <path d="M12.036 15.59c0 .55-.453.995-.997.995H5.032c-.55 0-.997-.445-.997-.996V8.584H1.03c-1.1 0-1.36-.633-.578-1.416L7.33.29c.39-.39 1.026-.385 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.004z"
                      fill-rule="evenodd"></path>
            </g>
        </svg>
    </div>
</div>

<th:block th:replace="base/common :: js"/>
<th:block th:replace="js/article :: article"/>
<script>
    hljs.initHighlightingOnLoad();

    $("pre").each(function (index, element) {
        let preTag = $(this);
        preTag.append("<div class='hljs-button' title='Copy to Clipboard'>Copy</div>");
        let id = "code" + index;
        preTag.children("code").attr("id", id);
        preTag.children(".hljs-button").attr("data-clipboard-target", "#" + id);
    });
    let clipboard = new ClipboardJS('.hljs-button');
    clipboard.on('success', function (e) {
        e.clearSelection();
        let copyBtn = $(e.trigger);
        copyBtn.html("Copy Success");
        setTimeout(function () {
            copyBtn.html("Copy");
        }, 1000);

    });
    clipboard.on('error', function (e) {
        let copyBtn = $(e.trigger);
        copyBtn.html("Copy Fail");
        setTimeout(function () {
            copyBtn.html("Copy");
        }, 1000);
    });

    $(window).scroll(function () {
        //若滚动条离顶部大于100元素
        if ($(window).scrollTop() > 100)
            $(".go-top").fadeIn(1000);
        // $("#go-top").show();
        else
            $(".go-top").fadeOut(1000);
        // $("#go-top").hide();
    });

    $(".go-top").click(function (e) {
        e.preventDefault();
        $('body,html').animate({scrollTop: 0}, 1000);
    });
</script>
</body>
</html>