@font-face {
    font-family: 'iconfont';  /* project id 701561 */
    src: url('//at.alicdn.com/t/font_701561_d4m6ipdn9f4.eot');
    src: url('//at.alicdn.com/t/font_701561_d4m6ipdn9f4.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_701561_d4m6ipdn9f4.woff') format('woff'),
    url('//at.alicdn.com/t/font_701561_d4m6ipdn9f4.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_701561_d4m6ipdn9f4.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size: 1rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before { content: "\e610"; }
.icon-qzone:before { content: "\e728"; }
.icon-weibo:before { content: "\e6c8"; }
.icon-evernote:before { content: "\e7f9"; }
.icon-link:before { content: "\e65e"; }
.icon-up:before { content: "\e64e"; }
.icon-author:before { content: "\e688"; }
.icon-category:before { content: "\e628"; }
.icon-date:before { content: "\e68c"; }