.label {
    padding: .3em .5em;
}

.index-article {
    /*border: 1px solid red;*/
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.index-title {
    color: #563d7c;
    font-size: 20px;
}

.index-tag {
    margin-left: 5px;
    margin-right: 5px;
}
