<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IT Blog | msj</title>
    <meta name="keywords" content="IT Blog,软件,技术,博客,麦司机">
    <meta name="description" content="IT Blog,软件,技术,博客,麦司机">
    <meta name="copyright" content="maisiji.cn">
    <meta name="google-site-verification" content="fmc_T5F0D4mqFYid4LrpOiVOEA4p8l_R5xjQCveieDE" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link href="https://s.maisiji.cn/lib/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://s.maisiji.cn/lib/bootstrap/3.7.3/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4671741323231057",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<div th:replace="base/navbar :: navbar"></div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin: 0 10px">
        <div class="index-article" th:each="content,contentStat : ${articleVoPageVo.getContent()}">
            <a th:href="@{/article/{category}/{id}(category=${content.getArticleCategory()},id=${content.getId()})}" target="_blank" class="index-title" th:text="${content.getTitle()}" th:alt-title="${content.getTitle()}"></a>
            <div style="margin-top: 5px">
                <span th:class="${content.isOriginal() ? 'label label-success' : 'label label-info'}" th:text="${content.isOriginal() ? '原创' : '转发'}"></span>
                <i class="iconfont icon-author" style="margin-left: 5px"><span class="index-tag" th:text="${content.getAuthor()}"></span></i>
                <i class="iconfont icon-category"><span class="index-tag" th:text="${content.getArticleCategoryAlias()}"></span></i>
                <i class="iconfont icon-date"><span class="index-tag" th:text="${#temporals.format(content.getUpdateTime(),'yyy-MM-dd')}"></span></i>
            </div>
            <div style="margin-top: 5px">
                <span th:text="${content.getDescription()}"></span>
            </div>
        </div>
        <nav>
            <ul class="pager">
                <li class="previous" th:unless="${articleVoPageVo.getNumber() == 0} or ${articleVoPageVo.getTotalPages() == 0}"><a th:href="@{/(page=${articleVoPageVo.getNumber()} - 1)}"><span>&larr;</span> 上一页</a></li>
                <li class="next" th:unless="${articleVoPageVo.getNumber() == (articleVoPageVo.getTotalPages() - 1)} or ${articleVoPageVo.getTotalPages() == 0}"><a th:href="@{/(page=${articleVoPageVo.getNumber()} + 1)}">下一页 <span>&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-3" ></div>
</div>

<div th:replace="base/footer :: footer"></div>

<span th:replace="base/js :: js"></span>
</body>
</html>