<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base/common :: meta"/>
    <title>追上被寄予厚望的自己 | 麦司机</title>
    <meta name="keywords" content="IT Blog，Java，Android，Linux，Vue，移动互联网，技术博客，麦司机">
    <meta name="description"
          content="麦司机网分享：Java，Android，Linux，Nginx，MySQL，Redis，NoSQL，Git，Vue，JavaScript，HTML，CSS，Markdown，Python，Mac等各类互联网技术">
    <th:block th:replace="base/common :: link"/>
    <th:block th:replace="base/common :: css"/>
    <th:block th:replace="css/index :: index"/>
    <th:block th:replace="base/common :: analysis"/>
</head>
<body>
<div style="display:flex;flex-direction: column;height: 100%">
    <th:block th:replace="base/common :: toolbar"/>
    <div style="flex: 1;margin: 5px">
        <ul class="content">
            <li class="shadow index-article-item" th:each="content : ${page.content}">
                <a th:href="@{/{author}/{id}(author=${content.author},id=${content.id})}" class="index-article-title"
                   th:text="${content.title}" th:alt-title="${content.title}">
                </a>
                <p>
                    <span th:if="${content.isOriginal()}" class="article-tag" th:text="原创"></span>
                    <span th:text="${content.author}"></span>
                    <span class="article-dot">·</span>
                    <span th:text="${content.getSecondaryCategory().getName()}"></span>
                    <span class="article-dot">·</span>
                    <span th:text="${#temporals.format(content.getCreateTime(),'yyy-MM-dd')}"></span>
                </p>
                <p class="index-article-desc" th:text="${content.getDescription()}" ></p>
            </li>
        </ul>

        <div style="text-align: center;margin-top: 20px">
            <ul class="pagination">
                <li>
                    <a th:if="${page.number eq 0}" class="disabled" href="javascript:void(0);">上一页</a>
                    <a th:if="${page.number gt 0}"
                       th:href="@{${'/'}(page=${page.number - 1},size=${page.size})}">上一页</a>
                </li>
                <li th:each="index : ${#numbers.sequence(0, page.totalPages - 1)}">
                    <a th:if="${page.number eq index}" class="active" th:text="${indexStat.count}"
                       href="javascript:void(0);"></a>
                    <a th:if="${not (page.number eq index)}" th:href="@{${'/'}(page=${index},size=${page.size})}">
                        <span th:text="${indexStat.count}"></span>
                    </a>
                </li>
                <li>
                    <a th:if="${page.number lt page.totalPages - 1}"
                       th:href="@{${'/'}(page=${page.number + 1},size=${page.size})}">下一页</a>
                    <a th:if="${page.number eq page.totalPages - 1}" class="disabled" href="javascript:void(0);">下一页</a>
                </li>
            </ul>
        </div>
    </div>

    <th:block th:replace="base/common :: footer"/>
</div>

<th:block th:replace="base/common :: js"/>
</body>
</html>