<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<footer th:fragment="footer" class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="margin: 0 10px;text-align: center">
        <p>沪ICP备18012661号|Copyright ©2018-[[${#dates.format(new java.util.Date().getTime(), 'yyyy')}]] maisiji.cn, All Rights Reserved.</p>
        <p><a th:href="@{/article/about}">关于我们</a> | <a th:href="@{/article/disclaimer}">免责声明</a></p>
    </div>
    <div class="col-md-1" ></div>
</footer>
</body>
</html>