<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<span th:fragment="js">
    <script src="https://s.maisiji.cn/lib/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://s.maisiji.cn/lib/bootstrap/3.7.3/js/bootstrap.min.js"></script>

    <!--<script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>-->

    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="https://s.maisiji.cn/lib/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://s.maisiji.cn/lib/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://s.maisiji.cn/lib/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</span>
</body>
</html>